.introLoading { position:fixed; top:0; right:0; bottom:0; left:0; overflow:hidden; z-index:99999; }
.introLoading { background-color:#fff; }
.absolute.introLoader { position:absolute; }
.introLoader_preventScroll { position:fixed; width:100%; height:100%; margin:0; overflow:hidden; }
.doubleLoader { background:transparent !important; }
.loadUp { background:#333; height:50%; left:0; position:absolute; right:0; top:0; }
.loadDown { background:#111; bottom:0; height:50%; left:0; position:absolute; right:0; }
.loadBar { background-color:#00FF51; border-radius:20px; box-shadow:0 10px 10px rgba(0,0,0,0.6) inset; height:20px; left:0; margin:-10px auto; overflow:hidden; position:absolute; right:0; top:50%; width:80%; z-index:9999999999999; }
.loadBar span { background:linear-gradient(to top,#FFF31A,#FFA500); border-radius:20px; box-shadow:0 1px 10px #000 inset; display:block; height:20px; margin:0; overflow:hidden; padding:0; position:fixed; width:0; background:#09F; }
.loadBar span:before { content:""; height:20px; left:0; margin:0 -40px; position:absolute; right:0; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); transform:translate3d(0,0,0); background-image:-webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.2)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.2)),color-stop(0.75,rgba(255,255,255,0.2)),color-stop(0.75,transparent),to(transparent)); background-image:linear-gradient(45deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent); -webkit-background-size:10px 10px; -moz-background-size:10px 10px; background-size:10px 10px; -webkit-animation:line 500ms linear infinite; -moz-animation:line 500ms linear infinite; animation:line 500ms linear infinite; }

@-webkit-keyframes line {
    0% { -webkit-transform:none; transform:none; } 100% { -webkit-transform:translate(-32px,0); transform:translate(-32px,0); } 
} 

@-moz-keyframes line {
    0% { -moz-transform:none; transform:none; } 100% { -moz-transform:translate(-32px,0); transform:translate(-32px,0); } 
} 

@keyframes line {
    0% { transform:none; transform:none; } 100% { transform:translate(-32px,0); transform:translate(-32px,0); } 
} 
